<div class="card p-5" *ngIf="product">
  <div class="row g-0">
    <div class="col-md-5">
      <app-product-carousel [product]="product">
        
      </app-product-carousel>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-price">
          <strong class="text-success">{{ product.price | currency }}</strong>
        </p>
        
        <div>
          <button class="btn btn-primary me-5" *ngIf="!addedToCart" (click)="addItemToCart()">
            Add to cart
          </button>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
