.fa-shopping-cart{
    color:white;
    margin-right: 2rem;
}
.cart-indicator{
    background-color: red;
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
    position: relative;
    left: -59%;
   span{
    font-size: 0.8rem;
   }
}