<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h4>Checkout</h4>
    </div>
  </div>
  <div class="row checkout-container">
    <div class="col-md-6 card  p-3">
      <div class="accordion" id="accordionExample">

        <!-- Delivery Address -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Delivery Address
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <app-delivery-address (isAddressValid)="updateAddressFormValidity($event)"></app-delivery-address>
            </div>
          </div>
        </div>

        <!-- Payment -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Payment
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <app-payment-options (isPaymentValid)="updatePaymentValid($event)"></app-payment-options>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-6 card p-3">
      <h6></h6>
      <app-order-summary (placeOrderClicked)="placeOrder()"></app-order-summary>
    </div>
  </div>
</div>

